page-home{
  ion-content.content{
    background-image: url(../../assets/imgs/miskas.jpeg);
    background-size: auto;
    background-position: 27% 50%;
  }

  .logo-container > *{
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    text-align: center !important;

    img{
      margin: 0 auto;
    }
  }

  .toolbar-background{
    background-color: transparent;
  }

  .menu{
    text-align: center;
    color:white;
    font-size:1.5em;
    img{
      margin:0 auto;
      display:block;
      height:2em;
    }
  }

}
